/******************************MEDIA QUERIES***********************/











@media screen and (min-width: 1650px) and (max-width: 1980px) {


  }
  


@media screen and (min-width: 1440px) and (max-width: 1650px) {

  

}

@media (min-width: 1380px) and (max-width: 1440px) {
  
  





}
@media (max-width: 1280px) {

	.services-listing-left {
		background-size: 60%;
	}
	.services-listing-right {
		background-size: 58%;
	}
	.grey-box5 {
		right: 0;
	}
	.insignts-page .common-text h1 {
		font-size: 36px;
		margin-bottom: 60px;
		line-height: 38px;
	}
	.floating-bnr-text {
		left: 6.6%;
	}
	.inn-floating-bnr-text {
		left: 6.6%;
	}
	.banner-text {
		left: 6.6%;
	}
	.page-btn a {
		font-size: 12px;
	}
	.services-listing-right {
		background-size: 70%;
	}
	



}





@media (max-width: 991.98px) {



.banner {
	height: 500px;
}
.banner-text {
	top: 54%;
	left: 8%;
	width: 50%;
}

.logo {
	padding: 0 15px;
	margin: 0px 0 0 0;
}
.menu-toggle {
	position: absolute;
	top: 15px;
	right: 12%;
}
.right-part ul {
	margin: 10px 0 0 0;
}
.header {
	padding: 10px 0;
}
.inn-floating-bnr-text {
	left: 5.5%;
}
.big-overlay {
	display: none;
}
.commitment-page {
	position: relative;
	padding: 0 15px !important;
}
.commitment-page .WhatWeDo-text {
	margin: 20px 0 0 0;
	padding: 20px 0 20px 0;
}




}
@media (max-width: 812px) {





}
@media (max-width: 768px) {
  



}
@media (max-width: 736px) { 
	.appointment {
		display: none !important;
	}
	div#sign {
		display: none;
	}
	.logo img {
		max-width: 200px;
	}


}

@media (max-width: 575.98px) {

  .banner {
    height: 250px;
    background-position: center;
  }
  
.logo {
	padding: 0px 15px 0 15px;
}

.menu-toggle {
	position: absolute;
	top: 22px;
	right: 10%;
}







}
@media (max-width: 480px) {
  
.header {
	padding: 10px 0;
}
.menu-toggle {
	position: absolute;
	top: 15px;
	right: 40px;
}

.logo {
	margin: 0px 0 0 0;
}













}

@media (max-width: 375px) {
  

}
